body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;

  --btn-background: #0c0926;
  --btn-hover-background: #000000;
  --btn-color: #59eaf0;
}

.button {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 80px; /* fps stats width */
  height: 48px; /* fps stats height */
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 0;
  background: none;
  background-color: var(--btn-background);
  color: var(--btn-color);
  font-family: 'Roboto Mono', 'Source Code Pro', 'Menlo', Courier, monospace;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  transition-duration: 300ms;
  cursor: pointer;
}
.button:hover {
  background-color: var(--btn-hover-background);
}
.button:active {
  box-shadow: inset 0 -2px 4px rgba(255, 255, 255, 0.4);
}
.button::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 4px;
  background-color: var(--btn-color);
  transform: scaleX(0);
  transform-origin: 0 0;
}
.button:disabled {
  background-color: var(--btn-background);
  opacity: 0.5;
  cursor: not-allowed;
}
.button:disabled::after {
  transform: scaleX(1);
  transition: 3000ms; /* equals to disabled timeout set in main.js */
}

.button-icon {
  position: relative;
  top: 1px;
  margin-right: 8px;
  fill: currentColor;
}

#webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}
