body {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

#webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}
